@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import "https://www.nerdfonts.com/assets/css/webfont.css";


body {
  background-color: #282828;
  text-align: center;
  margin-top: 100px;
  font-family: Hack NF;
}

#login-form-container {
  .welcome-message {
    color: #fe8019;
  }

  .btn-danger {
    background-color: #fb4934 !important;
    color: #fbf1c7;
    font-weight: 600;
    border: 1px solid black;
    box-shadow: 2px 2px 0px #fb4934;
  }
}

#form-container {
  width: 60%;
  margin: auto;
  justify-content: center;
  color: white;

  #formModal {
    color: black;
  }
}

#view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  gap: 2em;
  
}

.navbar {
  background-color: #32302f !important;
}
.navbar-brand {
  color: #458588;
  font-weight: 700;
  text-shadow: 1px 1px 2px #282828;
}
